@import "reset.css";
@import "base.css";
@import "fonts.css";

h2 {
text-align: center;
}
#menubar {
float: left;
width: 100%;
background-color: #3E3E2D;
border-top: 1px solid #3E3E2D;
border-bottom: 1px solid #3E3E2D;
color: #E3E3D9;
margin: 0;
padding: 0;
}

#menu {
padding: 0;
margin: 0;
list-style: none;
float: left;
}

#menu li {
margin: 0;
padding: 0;
display: block;
border-right: 1px solid #D1D468;
float: left;
}

#menu li:last-child {
border-right: none;
}

#menu li a {
text-decoration: none;
display: block;
padding: 8px 12px;
color: #E3E3D9;
}

#menu li a:hover {
background-color: #D1D468;
color: #3E3E2D;
}

#menu li.current_page_item a {
background-color: #879F32;
color: #E7E7DE;
}

#menu li.current_page_item a:hover {
background-color: #879F32;
color: #E7E7DE;
}

#search {
float: right;
margin: 4px;
}

#search input {
border: none;
}

#search p {
margin: 0;
}
